name: lint

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip" # caching pip dependencies

      - run: pip install -e .

      - name: Ruff format
        uses: chartboost/ruff-action@v1
        with:
          args: format --check

      - name: Ruff lint
        uses: chartboost/ruff-action@v1

      - name: Mypy
        run: |
          pip install mypy
          mypy src/
